/* ========== SECTION DIVERSÃO ========== */
#features {
    padding: 60px 5%;
    text-align: center;
    background: #111; /* opcional, só pra ver contraste */
}

#features h2 {
    font-size: 5rem;
    margin-bottom: 40px;
    color: #ffffff; /* vermelho elegante */
}

/* Container dos 3 carrosséis */
.features-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap; /* empilha no celular automaticamente */
    padding: 30px 0;
}

/* Cada carrossel */
.features-swiper {
    width: 100%;
    max-width: 800px; /* ajusta tamanho do carrossel */
    margin: 0;
    padding-bottom: 40px;
}

/* Cada item dentro do carrossel */
.div-item {
    background: #f8b014;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.div-item:hover {
    transform: translateY(-8px);
}

.div-item img, .div-item video {
    width: 100%;
    height: 900px;
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 15px;
}

.div-item h3 {
    font-size: 2rem;
    margin-bottom: 8px;
    color: #222;
    font-weight: bold;
}

.div-item p {
    font-size: 1rem;
    color: #444;
    opacity: 0.8;
}

/* Botões específicos do Swiper */
.features-prev,
.features-next {
    color: #ffffff !important;
}

/* Paginação */
.features-pagination .swiper-pagination-bullet {
    background: #000 !important;
}

/* Responsivo */
/* Responsivo */
@media (max-width: 1200px) {
    .features-swiper {
        max-width: 45%; /* 2 carrosséis lado a lado */
    }
}

@media (max-width: 900px) {
    .features-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .features-swiper {
        max-width: 97%; /* carrossel ocupa quase toda a largura do mobile */
    }

    .div-item img,
    .div-item video {
        max-height: 500px; /* altura menor no mobile */
    }
}

@media (max-width: 500px) {
    #features h2 {
        font-size: 2rem;
    }

    .div-item h3 {
        font-size: 1.2rem;
    }

    .div-item p {
        font-size: 0.9rem;
    }
}